<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>project1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Helloworld</display-name>
    <servlet-name>Helloworld</servlet-name>
    <servlet-class>com.p1.controller.Helloworld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Helloworld</servlet-name>
    <url-pattern>/Helloworld</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.p1.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employeepage</display-name>
    <servlet-name>Employeepage</servlet-name>
    <servlet-class>com.p1.controller.Employeepage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employeepage</servlet-name>
    <url-pattern>/Employeepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReimbursementReq</display-name>
    <servlet-name>ReimbursementReq</servlet-name>
    <servlet-class>com.p1.controller.ReimbursementReq</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimbursementReq</servlet-name>
    <url-pattern>/ReimbursementReq</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Pendingreq</display-name>
    <servlet-name>Pendingreq</servlet-name>
    <servlet-class>com.p1.controller.Pendingreq</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pendingreq</servlet-name>
    <url-pattern>/Pendingreq</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employeeinfo</display-name>
    <servlet-name>Employeeinfo</servlet-name>
    <servlet-class>com.p1.controller.Employeeinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employeeinfo</servlet-name>
    <url-pattern>/Employeeinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateuser</display-name>
    <servlet-name>updateuser</servlet-name>
    <servlet-class>com.p1.controller.updateuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateuser</servlet-name>
    <url-pattern>/updateuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mangerpage</display-name>
    <servlet-name>Mangerpage</servlet-name>
    <servlet-class>com.p1.controller2.Mangerpage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mangerpage</servlet-name>
    <url-pattern>/Mangerpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Approvingreq</display-name>
    <servlet-name>Approvingreq</servlet-name>
    <servlet-class>com.p1.controller2.Approvingreq</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Approvingreq</servlet-name>
    <url-pattern>/Approvingreq</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.p1.controller.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateingreq</display-name>
    <servlet-name>updateingreq</servlet-name>
    <servlet-class>com.p1.controller2.updateingreq</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateingreq</servlet-name>
    <url-pattern>/updateingreq</url-pattern>
  </servlet-mapping>
</web-app>