<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>BankingAPI</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>ServletConfigAndContent</display-name>
    <servlet-name>ServletConfigAndContent</servlet-name>
    <servlet-class>com.BankAPI.controller.ServletConfigAndContent</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>config value</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConfigAndContent</servlet-name>
    <url-pattern>/configandcontext</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>context</param-name>
    <param-value>context value</param-value>
  </context-param>
  <error-page>
    <error-code>404</error-code>
    <location>/404.html</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>FrontController</display-name>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>com.BankAPI.controller.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>/myapi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.BankAPI.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.BankAPI.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.BankAPI.controller.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Withdraw</display-name>
    <servlet-name>Withdraw</servlet-name>
    <servlet-class>com.BankAPI.controller.Withdraw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Withdraw</servlet-name>
    <url-pattern>/accounts/withdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deposit</display-name>
    <servlet-name>Deposit</servlet-name>
    <servlet-class>com.BankAPI.controller.Deposit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deposit</servlet-name>
    <url-pattern>/accounts/deposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Transfer</display-name>
    <servlet-name>Transfer</servlet-name>
    <servlet-class>com.BankAPI.controller.Transfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transfer</servlet-name>
    <url-pattern>/accounts/transfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindUser</display-name>
    <servlet-name>FindUser</servlet-name>
    <servlet-class>com.BankAPI.operations.FindAndUpdateUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindUser</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindUserById</display-name>
    <servlet-name>FindUserById</servlet-name>
    <servlet-class>com.BankAPI.operations.FindUserById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindUserById</servlet-name>
    <url-pattern>/users/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAccounts</display-name>
    <servlet-name>FindAccounts</servlet-name>
    <servlet-class>com.BankAPI.operations.FindUpdateAndSubmitAccounts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAccounts</servlet-name>
    <url-pattern>/accounts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAccountByID</display-name>
    <servlet-name>FindAccountByID</servlet-name>
    <servlet-class>com.BankAPI.operations.FindAccountByID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAccountByID</servlet-name>
    <url-pattern>/accounts/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAccountByStatus</display-name>
    <servlet-name>FindAccountByStatus</servlet-name>
    <servlet-class>com.BankAPI.operations.FindAccountByStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAccountByStatus</servlet-name>
    <url-pattern>/accounts/status/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAccountByUser</display-name>
    <servlet-name>FindAccountByUser</servlet-name>
    <servlet-class>com.BankAPI.operations.FindAccountByUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAccountByUser</servlet-name>
    <url-pattern>/accounts/owner/*</url-pattern>
  </servlet-mapping>
</web-app>